<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="org.tyss.genericUtility.ListnerExtentReport" />
</listeners>

  

  <test thread-count="5" name="Test" >
  
  
  
    <classes>
      <class name="org.vtiger.campaigns.CreateCampaignTest"/>
      <class name="org.vtiger.campaigns.CreateCampaignWithProductTest"/>
      <class name="org.vtiger.Contacts.CreateContactWithOrganizationTest"/>
      <class name="org.vtiger.documents.CreateDocumentTest"/>
      <class name="org.vtiger.Contacts.CreateContactTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
